//- index.pug
doctype html
html
  head
    link(href="../../public/stylesheets/css/creative.css" rel="stylesheet")
    link(href="../public/stylesheets/css/mycss.css" rel="stylesheet")
    title Google
  body
    h1 Hi my name is Riz
